node_modules
.next
out
build
.git
.gitignore
.github
.idea
.vscode
.DS_Store
**/*.md
!README.md
**/.env*
.envrc
*.log
coverage
k8s
scripts
tests
Makefile
SECURITY.md
LICENSE
*.fish.bak
config.fish.local
cloudflared-token.txt
kubeconfig*
